body {
  background: url("/images/header_repeat.png") repeat;
}
#login {
  margin: 0 auto;
  margin-top: 5%;
  max-width: 500px;
}
#login .frame {
  padding: 2em;
}
#login .logo {
  display: block;
  margin-bottom: 3em;
}
#login .credentials {
  margin: 3em 0;
}
#login .credentials b {
  display: block;
  font-size: 1.4em;
  color: #f0f0f0;
  margin-top: 1em;
}
#login .credentials input[type=text], #login .credentials input[type=password] {
  display: block;
  width: 100%;
  font-size: 1.3em;
  padding: 0.315em 0;
  text-indent: 0.315em;
  border-radius: 0.315em 0.315em 0.315em 0.315em;
  -moz-border-radius: 0.315em;
  -webkit-border-radius: 0.315em;
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid #B3B3B3;
  color: #333;
  text-shadow: 0 1px 0 white;
  margin: 0.5em 0;
}
#login .credentials input.button {
  margin-top: 2em;
  padding: 1em;
}
